/* Reset browser defaults */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Common shared styles */
:root {
    --primary-magenta: #FF42A5;
    --primary-gray: #534C64;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.smaller-section {
    margin: 0 240px;
}

.btn-primary {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--primary-magenta);
    border: none;
    border-radius: 48px;
    padding: 20px 40px;
    cursor: pointer;
}

.section-heading {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}

.section-description {
    color: var(--primary-gray);
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.text-linear {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-center {
    text-align: center;
}

/* Header section styles */


/* Navigation section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-title img {
    width: 5rem;
    margin-right: 20px;
}

.special-nav-char {
    color: var(--primary-magenta);
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 32px;
    font-size: 1.125rem;
    color: #3C354F;
    font-weight: 500;
}

nav ul li a {
    text-decoration: none;
    color: #3C354F;
}

.nav-social-links {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 15px 20px;
}

.nav-social-links img {
    width: 30px;
}

/* Banner section designs */
.banner {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-column {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

.banner-heading {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-sub-heading {
    font-size: 5.8rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 24px;
}

.banner-column>ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 17px;
}

.banner-column>ul li img {
    width: 24px;
}

.banner-column>ul li {
    color: var(--primary-gray);
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.bg-sky-blue {
    background-color: #4EC5F7;
}

.banner-column button {
    margin-top: 20px;
    margin-right: 24px;
}

/* Main section designs */

/* we are gamer section designs */
.we-are-gamer-section {
    display: grid;
    grid-template-columns: 1fr 400px;
    align-items: center;
    margin-top: 55px;
}

.we-are-gamer-column img {
    width: 100%;
}

.we-are-gamer-content {
    text-align: right;
}

.our-purpose-text {
    color: var(--primary-gray);
    font-size: 1.5rem;
    font-weight: 500;
}

.our-purpose-quote {
    color: var(--primary-gray);
    font-size: 2rem;
    font-weight: 700;
}

.we-are-gamer-column .section-description {
    margin-bottom: 32px;
}

.we-are-gamer-column .btn-primary {
    margin-bottom: 24px;
}

.we-are-gamer-column .our-purpose-text {
    margin-bottom: 24px;
}

/* Funny video section designs */
.funny-video-section {
    margin-top: 120px;
}

.funny-video-container {
    display: grid;
    margin-top: 50px;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.img-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.66);
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    border-radius: 16px;
}

.img-container:hover .overlay {
    opacity: 1;
}

.img-container:hover {
    border: 3px solid var(--primary-magenta);
    border-radius: 18px;
}

.hover-img {
    display: block;
    width: 100%;
    border-radius: 16px;
}

.play-info {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--primary-magenta);
}

.overlay img:hover {
    cursor: pointer;
}

/* Play instantly section designs */
.play-instantly-section {
    display: flex;
    justify-content: space-between;
    gap: 140px;
    margin-top: 120px;
    align-items: center;
}

.play-instantly-column {
    width: 50%;
    text-align: center;
}

.play-instantly-column img {
    width: 100%;
}

.little-img-badge {
    width: 200px;
    position: relative;
    bottom: 180px;
    right: 100px;
}

/* Carriers section designs */
.carriers-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-magenta);
    padding: 120px 0 120px 240px;
    gap: 30px;
    color: #FFF;
}

.carriers-section-column {
    width: 50%;
}

.carriers-section-column img {
    width: 100%;
}

.carriers-desc {
    color: #FFF;
}

.carriers-sub-column {
    display: flex;
    justify-content: space-between;
}

.carriers-sub-column ul li {
    list-style: none;
    margin-bottom: 20px;
}

.carriers-sub-column ul {
    margin-top: 32px;
}

.btn-white {
    background-color: #FFF;
    color: var(--primary-magenta);
    margin-top: 40px;
}

/* Catagories section designs */
.catagories-section {
    display: flex;
    flex-wrap: wrap;
    gap: 42px;
    margin-top: 120px;
}

.category {
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50px;
    gap: 3px;
    width: 200px;
}

.category img {
    width: 60px;
}

.game-type {
    color: #0B0223;
    font-size: 1rem;
    font-weight: 600;
}

.category:hover {
    border: 3px solid var(--primary-magenta);
    color: var(--primary-magenta);
    cursor: pointer;
}

.category:hover .game-type {
    color: var(--primary-magenta);
}

/* footer section designs */
footer {
    text-align: center;
    margin-top: 140px;
    padding: 120px 0;
    background-color: #0B0223;
}

.text-white {
    color: white;
    margin-bottom: 60px;
}

.footer-first-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.footer-first-list li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 60px;
}

.footer-first-list li a {
    color: #FFF;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.social-icons a {
    color: white;
    font-size: 40px;
    margin-right: 40px;
}

.footer-second-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.footer-second-list li {
    list-style: none;
    font-weight: 500;
    margin-right: 60px;
}

.footer-second-list li a {
    color: rgba(255, 255, 255, 0.60);
    text-decoration: none;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
}





/* Responsive styles */

/* For mobile devices */
@media screen and (max-width: 576px) {
    nav {
        box-shadow: none;
        padding: 20px;
        gap: 62px;
    }

    nav ul {
        gap: 36px;
    }

    nav,
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
    }

    .banner {
        flex-direction: column-reverse;
        margin: 20px;
        gap: 100px;
    }

    .banner-column {
        width: 100%;
    }

    .banner-sub-heading {
        font-size: 4rem;
    }

    .banner-column button {
        margin-right: 5px;
    }

    .we-are-gamer-section {
        margin: 20px;
        grid-template-columns: 1fr;
    }

    .we-are-gamer-content {
        text-align: center;
    }

    .funny-video-section {
        margin: 120px 20px 0px 20px;
    }

    .funny-video-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .play-instantly-section {
        flex-direction: column-reverse;
        margin: 120px 20px 0px 20px;
        gap: 10px;
    }

    .play-instantly-column {
        width: 100%;
    }

    .little-img-badge {
        width: 100px;
        bottom: 80px;
        right: 20px;
    }

    .carriers-section {
        flex-direction: column;
        padding: 20px;
        margin-top: 120px;
    }

    .carriers-section-column {
        width: 100%;
    }

    .catagories-section {
        margin: 20px;
    }

    .footer-first-list li {
        margin: 10px 20px;
    }

    .social-icons a {
        margin: 20px 50px;
    }

    .footer-second-list li {
        margin: 10px 30px;
    }
}



/* For tablets */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav {
        flex-direction: column;
        padding: 50px;
        gap: 50px;
        box-shadow: none;
    }

    .banner {
        margin: 40px;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .banner-column {
        width: 100%;
    }

    .we-are-gamer-section {
        margin: 40px;
        grid-template-columns: 1fr;
    }

    .we-are-gamer-content {
        text-align: center;
    }

    .funny-video-section {
        margin: 120px 40px 0px 40px;
    }

    .funny-video-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .play-instantly-section {
        flex-direction: column-reverse;
        margin: 120px 40px 0px 40px;
        gap: 0;
    }

    .carriers-section {
        flex-direction: column;
        padding: 40px;
        margin-top: 120px;
    }

    .carriers-section-column {
        width: 100%;
    }

    .catagories-section {
        margin: 40px;
    }

    .footer-first-list li {
        margin: 20px 40px;
    }

}